/* ---------- Global Styles ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
.header{
    min-height: 100vh;
    width:100%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvxrmxRpDysytODNxxaWivuvnez_liACzmCA&s);
    background-position: center;
    background-color: rgba(121, 99, 218, 0.5);
    background-size: cover;
    position: relative;
    
    z-index: 0;
}
body {
    background: #f5f5f5;
    padding-bottom: 40px;
}

/* ---------- Navigation Bar ---------- */
nav {
    background: #222;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #e4ad18;
}

/* ---------- Content Box ---------- */
.container {
    width: 90%;
    margin: 30px auto;
    padding: 20px;
    background: rgb(225, 228, 233);
    
    border-radius: 8px;
}

/* ---------- Events Page ---------- */
.skills-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.skill-card {
    width: 30%;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #444;
    color: white;
}

/* Event card colors */
.card1 { background: #80a7d1; }
.card2 { background: #b695e2; }
.card3 { background: #cf978b; }

/* ---------- Form Styles ---------- */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

input {
    padding: 10px;
    border: 1px solid #888;
    border-radius: 5px;
}

button {
    padding: 12px;
    border: none;
    background: #222;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background: #444;
}